
<div class="form-group has-search">
    <input type="text" class="form-control" placeholder="Search" @bind="SearchTerm" @oninput="ValueChanged" />
</div>


    @code {
        string SearchTerm { get; set; } = "";

        [Parameter]
        public EventCallback<string> GetSearch { get; set; }

        private async Task ValueChanged(ChangeEventArgs e)
        {

            var st = e.Value.ToString();
            if (st == null || st == string.Empty)
            {
                await Clear();
            }
            SearchTerm = st;
            await Trigger();
        }

        private async Task Trigger()
        {
            await GetSearch.InvokeAsync(SearchTerm);
        }
        private async Task Clear()
        {
            SearchTerm = "";
            await GetSearch.InvokeAsync(SearchTerm);
        }
    }
